body {
  overflow-x: hidden;
}
.homePage {
  width:auto;
  height:800px;
  background-image: url("http://media.bestofmicro.com/M/P/519217/original/fitness_tracker_guide_cover_2.jpg");
  background-position: center bottom;
  background-size: cover;
  border-top: 2px solid #407876;
  border-bottom: 900px solid
}

.icon1 {
  /*position: absolute;*/
  width: 120px;
  height: 120px;
  /*top: 64%;
  left: 19%;*/
}

.icon2 {
  /*position: absolute;*/
  width: 155px;
  height: 155px;
  /*top: 61%;
  left: 43%;*/
}

.icon3 {
  /*position: absolute;*/
  width: 120px;
  height: 120px;
  /*top: 65%;
  left: 70%;*/
}